body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: rgb(201, 240, 255);
}

#contenedor {
    border:2px solid rgb(0, 113, 193);
    background-color: rgb(137, 184, 237);
    width: 600px;
    height: 400px;
    overflow: hidden;
    background-image: url(Imagenes/pecera\ fondo.jpeg);
}

section {
    margin: 40px;
}

.caja {
    width: 120px;
    height: 120px;
    padding: 10px;
}

#Imagen1 {
    position: relative;
    left: 60px;
    top: 140px;
    width: 110px;
}

#Imagen2 {
    position: relative;
    left: 280px;
    top: 110px;
    width: 80px;
}

#Imagen3 {
    position: relative;
    left: 50px;
    top: 220px;
    width: 90px;
}